.map path {
    fill: #FEFEE9;
    stroke: #ffc768;
    stroke-width: 1;
}

.map path:hover {
    fill: #0076D6;
}

.map path.dominated {
    fill: #0076D6;
}

.map {
    background-color: #F6E1B9;
    opacity: 1;
    background-image:  linear-gradient(#ffc768 1.9000000000000001px, transparent 1.9000000000000001px), linear-gradient(to right, #ffc768 1.9000000000000001px, #F6E1B9 1.9000000000000001px);
    background-size: 38px 38px;
}