@keyframes pulse {
    0% {
        fill: #FEFEE9;
    }
    50% {
        fill: #77c4ff;
        stroke: #FEFEE9;
    }
    100% {
        fill: #FEFEE9;
    }
}

.map path {
    fill: #FEFEE9;
    stroke: #ffc768;
    stroke-width: 1;
}

.map path:hover {
    fill: #40A6F6;
    cursor: pointer;
}

.map path.acquired {
    fill: #0076D6;
}

.map path.concorrenceAcquired {
    fill: #d30000;
}

/* Cor de destaque para os municípios encontrados */

path.path-base {
    fill: #FEFEE9;
    transition: fill 0.3s;
}

path.highlighted {
    animation: pulse 1.5s infinite;;
}

.map {
    background-color: #F6E1B9;
    opacity: 1;
    background-image:  linear-gradient(#ffc768 1.9000000000000001px, transparent 1.9000000000000001px), linear-gradient(to right, #ffc768 1.9000000000000001px, #F6E1B9 1.9000000000000001px);
    background-size: 38px 38px;
}